<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="form-row">
        <div class="form-group col-6 p-1">
            <label>Начало</label>
            <div class="form-row">
                <input type="text" class="form-control" wicket:id="start">
            </div>
        </div>
        <div class="form-group  col-6 p-1">
            <label>Продолжительность</label>
            <div class="form-row">
                <input type="text" class="form-control" wicket:id="duration">

            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>
