<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div wicket:id="container">
        <form wicket:id="form">
            <div class="form-row">
                <div class="col-11" wicket:id="period"></div>
                <div class="col-1">
                    <button wicket:id="submit" type="submit" class="btn btn-light"><span class="fa fa-plus"></span>
                    </button>
                </div>
            </div>

        </form>
        <div class="row" wicket:id="row">
            <div wicket:id="start" class="col-5"></div>
            <div wicket:id="duration" class="col-6"></div>
            <div class="col-1 align-content-center align-middle">
                <i wicket:id="delete" class="fa fa-remove"/>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>
