<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <form wicket:id="form">
        <div class="input-group">

            <input class="form-control" wicket:id="start">

            <input wicket:id="duration" class="form-control">
            <div class="input-group-append">
                <button wicket:id="submit" type="submit" class="btn btn-light"><span class="fa fa-plus"></span></button>
            </div>
        </div>
    </form>
    <div class="row" wicket:id="row">
        <div wicket:id="start" class="col-5"></div>
        <div wicket:id="duration" class="col-6"></div>
        <div class="col-1 align-content-center align-middle">
            <span class="fa-spotify"><span wicket:id="delete" class="fa fa-remove"></span></span></div>
    </div>
</wicket:panel>
</body>
</html>