<?xml version="1.0" encoding="UTF-8"?>
<solver>
    <!-- Domain model configuration -->
    <scanAnnotatedClasses/>

    <!-- Score configuration -->
    <scoreDirectorFactory>
        <!--<easyScoreCalculatorClass>org.optaplanner.examples.cloudbalancing.optional.score.CloudBalancingEasyScoreCalculator</easyScoreCalculatorClass>-->
        <scoreDrl>com/bochkov/duty/planning/drools/drools1.drl</scoreDrl>
    </scoreDirectorFactory>
    <localSearch>
        <acceptor>
            <entityTabuSize>7</entityTabuSize>
        </acceptor>
        <forager>
            <acceptedCountLimit>1000</acceptedCountLimit>
        </forager>
        <termination>

            <stepCountLimit>100000</stepCountLimit>
        </termination>
    </localSearch>
    <exhaustiveSearch>
        <exhaustiveSearchType>BRUTE_FORCE</exhaustiveSearchType>
    </exhaustiveSearch>
    <!-- Optimization algorithms configuration -->
    <termination>
        <secondsSpentLimit>15</secondsSpentLimit>
       <!-- <stepCountLimit>100000</stepCountLimit>-->
    </termination>
</solver>